@font-face {
  font-family: "proxima_nova";
  src: url("fonts/proxima-nova/proxima_nova.otf");
  src: url("fonts/proxima-nova/proxima_nova.ttf") format("truetype");
}

@font-face {
  font-family: "poppins_regular";
  src: url("fonts/poppins/poppins_regular.woff") format("woff");
}
